
  /* Basic */
  
  html {
    font-size: 16px;
    font-size: 1rem;
    line-height: 28px;
    line-height: 1.75rem;
  }
  
  body {
    background: #fff;
    margin: auto;
    color: #333;
  }
  
  
  /* Font family */
  
  body,
  h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  h1{
    line-height: normal;
    text-transform: uppercase;
  }
  
  
  /* Button */
  
  a {
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    transition: all 200ms ease;
    
  }
  
  a,
  a:visited,
  a:active {
    text-decoration: none;
  }
  
  .btn {
    display: block;
    margin: 30px auto;
    padding: 10px;
    border: 2px solid rgb(31, 78, 181);
    text-transform: uppercase;
    font-weight: bold;
    background: rgb(31, 78, 181);
    color: #fff;
    width: 60%;
    
  }
  
  .btn:hover {
    background: transparent;
    color: #333;
  }
  
  
  .copyright {
    font-size: 14px;
    font-size: 0.875rem;
    text-align: center;
  }
  
  /* Layout: center box */
  
  #logo-box {
    text-align: center;
    padding: 30px;
  }
  
  h1 {
    font-size: 30px;
    margin: 0 auto;
  }
  
  
  /* Desktop only */
  
  @media (min-width: 481px) {
    #logo-box {
      position: absolute;
      text-align: center;
      left: 50%;
      top: 48%;
      width: 400px;
      margin-left: -230px;
      height: 440px;
      margin-top: -250px;
      font-size: 20px;
      border: 3px solid #999;
      box-shadow: 6px 6px 0px #333;
    }
    h1 {
      font-size: 36px;
    }
  }
  
  .icon {
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA4NDEuOSAxMTkwLjYiPjxwYXRoIGQ9Ik01NzMuMiAzNzMuNmwtMTguOS0xOC45TDM5Ni41IDUxNGwtODItODJMMjk3LjIgNDUxbDk5LjQgOTkuM0w1NzMuMiAzNzMuNnpNNzA1LjcgNDU1LjdWMTgyLjdIMTM3Ljh2MjcyLjlMOC40IDUwOS4zdjQ5OC41aDgyNS4xVjUwOS4zTDcwNS43IDQ1NS43ek03OTQuMSA1MjAuM2wtODguMyA1NS4ydi05MS41TDc5NC4xIDUyMC4zek02ODAuNCAyMDkuNnYzODMuM0w0MjEuNyA3NTMuOCAxNjMgNTkyLjlWMjA5LjZINjgwLjR6TTEzNy44IDU3NS42bC04OC40LTU1LjIgODguMy0zNi4zTDEzNy44IDU3NS42IDEzNy44IDU3NS42ek0zNS4zIDk4Mi41VjU0MC45bDM4Ni41IDI0NC41IDM4Ni40LTI0M3Y0NDEuN0gzNS4zVjk4Mi41ek0xMy40IDk5OC42bDQwOC40LTIxMi4yTTQyMi42IDc4Ni41TDgzMSA5OTguNyIgc3R5bGU9InN0cm9rZS13aWR0aDoyMDtzdHJva2U6IzAwMCIvPjwvc3ZnPg==) no-repeat center center;
    height: 128px;
    margin: auto;
    width: 90px;
  }